body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.neon-title {
    position: fixed;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif; /* Apply the Roboto font */
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        0 0 10px #ff0000, 
        0 0 20px #ff0000, 
        0 0 30px #ff0000, 
        0 0 40px #ff0000, 
        0 0 70px #ff0000, 
        0 0 80px #ff0000, 
        0 0 100px #ff0000, 
        0 0 150px #ff0000; /* Apply the text-shadow effect in red */
}