body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.neon-title {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    color: #fff;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        0 0 1vw #ff0000, 
        0 0 2vw #ff0000, 
        0 0 3vw #ff0000, 
        0 0 4vw #ff0000, 
        0 0 7vw #ff0000, 
        0 0 8vw #ff0000, 
        0 0 10vw #ff0000, 
        0 0 15vw #ff0000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    z-index: 1000;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.navbar.show {
    opacity: 1; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 2vw; 
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1vh 2vw;
    border-radius: 0.5vw;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.side-panel {
    z-index: 1100;
    position: fixed;
    top: 7vh;
    width: 20vw;
    height: calc(100% - 7vh);
    background-color: #222;
    color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
    opacity: 0;
    animation: fadeInPanel 1s forwards;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.295);
    transition: width 0.3s ease, transform 0.3s ease;
    padding: 20px;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent; /* thumb color and transparent track */
}

.side-panel:hover {
    width: 25vw;
    transform: translateX(-5px);
}

#rightPanel {
    right: 20px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.295);
    animation: breathing-glow 10s ease-in-out infinite;
}

#leftPanel {
    left: 20px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.295);
    animation: breathing-glow 10s ease-in-out infinite;
}

.repository-panel {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    padding: 20px;
}

.repository {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.repo-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.repo-description {
    font-size: 14px;
    color: #666;
}

.repo-link a {
    color: #007bff;
    text-decoration: none;
}

.repo-link a:hover {
    text-decoration: underline;
}

.experience {
    margin-top: 20px;
}

.experience-item {
    margin-bottom: 15px;
}

.progress {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    transition: width 0.6s ease;
}

.html-css-progress .progress-bar {
    background-color: #17a2b8;
}

.js-progress .progress-bar {
    background-color: #28a745;
}

.react-progress .progress-bar {
    background-color: #ffc107;
}

.node-progress .progress-bar {
    background-color: #dc3545;
}

@media (max-width: 768px) {
    .navbar ul li {
        margin-right: 1.5vw;
    }
    .navbar ul li a {
        padding: 1vh 1.5vw;
        border-radius: 0.3vw;
    }
    .side-panel {
        width: 30vw;
    }
}

@keyframes breathing-glow {
    0% { 
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.295); 
        border-color: transparent;
    }
    50% { 
        box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.7); 
        border-color: red;
    }
    100% { 
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.295); 
        border-color: transparent;
    }
}

/* WebKit (Chrome, Safari, etc.) */
.side-panel::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  .side-panel::-webkit-scrollbar-thumb {
    background-color: #555; /* color of the thumb */
    border-radius: 4px; /* roundness of the thumb */
  }
  
  .side-panel::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* color of the thumb on hover */
  }
  
  /* Mozilla Firefox */
  .side-panel {
    scrollbar-width: thin;
    scrollbar-color: #555 transparent; /* thumb color and transparent track */
  }
  
  .side-panel::-moz-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  .side-panel::-moz-scrollbar-thumb {
    background-color: #555; /* color of the thumb */
    border-radius: 4px; /* roundness of the thumb */
  }
  
  .side-panel::-moz-scrollbar-thumb:hover {
    background-color: #333; /* color of the thumb on hover */
  }